@model lab11.Models.MyModel
@{	
	ViewData["Title"] = "PassUsingModel - Backend1";
}
<h1>PassUsingModel</h1>
<b>Rand Value First:</b> @Model.X  <br />
<b>Rand Value Second:</b> @Model.Y<br />

<b>Add:</b><br />
@Model.add<br />

<b>Sub:</b><br />
@Model.sub<br />

<b>Mul:</b><br />
@Model.mul<br />

<b>Div:</b><br />
@Model.div<br />